.CreatePost {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 20px;
  padding: 40px 20px;
  border: 0.5px solid rgb(36, 36, 36);

}

.CreatePostContent {
  display: flex;
  gap: 10px;
}

.CreatePost .myUserPost {
  border-radius: 50px;
  max-width: 60px;
  max-height: 60px;
}

.CreatePost .Image {
  width: 400px;
  height: 400px;
}

.PostContainer {
  display: flex;
  margin: 20px 0;
  flex-direction: column;
}

.PostContainer input {
  background: none;
  border: none;
  outline: none;
  font-size: 20px;
}

.CreatePost button {
  background: rgb(36, 36, 36);
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: bold;
}

.InputFile {
  display: flex;
}

.InputFile input{
  width: 35px;
  height: 35px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}



.InputFileIcon {
  cursor: pointer;
  transition: 0.2s;
  padding: 10px;
  border-radius: 50px;
}

.InputFileIcon:hover {
  background: rgb(13, 13, 13);
}


.CreatePostConfig {
  display: flex;
  justify-content: space-between;
  width: 100%;
}