.TimeLine {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  overflow-y: auto;
}

.Message {
  display: flex;
  padding: 20px;
  border: 0.5px solid rgb(36, 36, 36);
  transition: 0.2s;
  cursor: pointer;
  gap: 20px;
  word-wrap: break-word;
}

.Message:hover {
  background: rgba(14, 14, 14, 0.507);
}

.MessageImage {
  height: 350px;
  border-radius: 10px;
  border: 1px solid rgb(36, 36, 36);
  margin: 20px;
}

.MessageHead {
  display: flex;
  gap: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.MessageHead p {
  color: rgb(98, 98, 98);
}

.MessageUserImage img {
  border-radius: 60px;
}

.MessageContent p {
  border-left: 4px solid grey;
  background: none;
  border: none;
  outline: none;
  font-size: 14px;

  word-wrap: break-word;
}


.MessageContent img {
  margin: 30px 50px;
  border-radius: 10px;
  height: 350px;
}


.ImageContainer {
  display: flex;
  border: 1px solid rgb(36, 36, 36);
  border-radius: 10px;
}

.ImageContainer p {
  position: absolute;
  margin: 20px 350px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50px;
  padding: 10px 16px;
  text-align: center;
  background: rgb(36, 36, 36);
}

.PostContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.MessageContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}