.TimeLine {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.Message {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 0.5px solid rgb(36, 36, 36);
  transition: 0.2s;
  cursor: pointer;
  flex-wrap: wrap;
  text-wrap: wrap;
}

.Message:hover {
  background: rgba(14, 14, 14, 0.507);
}

.MessageImage {
  height: 350px;
  border-radius: 10px;
  border: 1px solid rgb(36, 36, 36);
  margin: 20px;
}

.MessageHead {
  display: flex;
  align-items: center;
  gap: 10px;
}

.MessageHead img {
  border-radius: 60px;
}

.MessageContent p {
  border-left: 4px solid grey;
  padding: 0 60px;
  margin: 10px 20px;

}

.ImageContainer {
  display: flex;
  border: 1px solid rgb(36, 36, 36);
  border-radius: 10px;
}

.ImageContainer p {
  position: absolute;
  margin: 20px 350px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50px;
  padding: 10px 16px;
  text-align: center;
  background: rgb(36, 36, 36);
}

.PostContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}