* {
  padding: 0;
  margin: 0;
  color: white;
  list-style-type: none;
}

body {
  overflow: hidden;
  background: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


*::-webkit-scrollbar {
  background: black;
  width: 7px;
}

*::-webkit-scrollbar-thumb {
  background: rgb(26, 26, 26);
  border-radius: 20px;
  padding: 10px;
}